
html 
    head 

    body 
        button.btn.btn--green.span-all-rows#book-car(data-tour-id=`6259980bcdcfa01c401cbe9e`) Book Car now!
        //- button.btn.btn--green.span-all-rows#book-car(data-tour-id=`${tour.id}`) Book tour now!
    script(src='https://js.stripe.com/v3/')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js')
    script(type="module" src="/js/index.js")
